<!-- guarantee -->
<div class="guarantee">
  <div id="hotline">
    <span><i class="fa-solid fa-phone fa-2x"></i></span>
    <p>HOTLINE: 0123456789</p>
    <p>24/6 MON - SAT</p>
  </div>
  <div id="store">
    <span><i class="fa-solid fa-store fa-2x"></i></span>
    <p>STORES SYSTEM</p>
    <p>MORE THAN 500 STORES</p>
  </div>
  <div id="freeship">
    <span><i class="fa-solid fa-truck fa-2x"></i></span>
    <p>DELIVERY</p>
    <p>FREE SHIPPING</p>
  </div>
</div>

<!-- footer -->
<footer>
  <div id="quick-link">
    <h2>Information</h2>

    <!--
             <a href="/EXAM/">Home</a>
             <a href="/EXAM/products.html">Products</a>
             <a href="/EXAM/login.html">Account</a>
          -->
    <ul class=" footer_col footer_col_left" style="list-style-type:none;">
      <li>Thrift Fashion Store: Thrift Fashion</li>
      <li>54, Le Thanh Nghi, Hai Ba Trung, Hanoi</li>
      <li>0868886688</li>
      <li>thriftfashion@gmail.com</li>
      <li>MST: 0108393204</li>

    </ul>



  </div>
  <div id="info">
    <h2>Contact</h2>
    <ul class=" footer_col footer_col_center" style="list-style-type:none;">
      <li>Introduction</li>
      <li>News</li>
      <li>Products</li>
      <li>Suport</li>
    </ul>

  </div>
  <div id="mission">
    <h2>Customer Suport</h2>
    <!--
            <h2>Our mission</h2>
          Quality materials, good designs, craftsmanship and sustainability
          -->
    <ul class="footer_col footer_col_center" style="list-style-type:none;">
      <li>Q&A</li>
      <li>Shopping guide</li>
      <li>Sign up for a new account</li>
      <li>Delivery policy</li>
      <li>Refund Policy</li>
    </ul>

  </div>
</footer>

<div class="copyright">
  &copy; 2022 Team LEO Techwiz 2022
</div>