<div class="navbar-header">
  <h2>Free shipping available on all orders!</h2>
</div>
<div class="navbar-footer">
  <div class="action-menu-responsive" style="margin-left: 3%;">
    <div class="action nav-toggle">
      <i class="fa fa-bars" onclick="mobileMenuBar()" style="margin-left: 1%"></i>
    </div>
  </div>  
  <a id="logo" href="index.html"><img src="images/logo.jpg" alt="logo" class="banner"></a>
  <div class="link-list">
    <a href="index.html">HOME</a>
    <a id="open-dropdown" href="products.html">COLLECTION</a>
    <a href="about.html">ABOUT US</a>
    <a href="contact.html">CONTACT US</a>
  </div>

  <!-- search function -->
  <div class="funcIcon">
    <form id="search-form" action="search" method="get">
      <input type="text" name="searchPattern" value="">
      <input id="commit-search" type="submit" name="" value="Search">
    </form>
    <span id="open-search" onclick="toggleSearchForm()"><i class="fa-solid fa-magnifying-glass fa-xl"
        style="color: rgb(30, 131, 239);"></i></span>
    <a href="admin/login.html"><i class="fa-solid fa-user-large fa-xl" style="color:rgb(180, 238, 132); "></i></a>
    <span id="open-cart"><i class="fa-solid fa-bag-shopping fa-xl" style="color:rgb(241, 183, 69);"></i></span>
    <div class="cart">
      <h2 style="text-decoration: underline;">CART</h2>
      <ul id="cart-item">
      </ul>
    </div>
  </div>
</div>